In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

def get_nba_db():
    """
    Creates a connection to the NBA PostgreSQL database.
    """
    host = os.getenv("NBA_DB_HOST")
    port = os.getenv("NBA_DB_PORT")
    database = os.getenv("NBA_DB_NAME")
    user = os.getenv("NBA_DB_USER")
    password = os.getenv("NBA_DB_PASSWORD")
    
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"
    return create_engine(connection_string)

def query(sql):
    """
    Executes SQL query against the NBA database and returns results as a pandas DataFrame.
    """
    engine = get_nba_db()
    return pd.read_sql(sql, engine)

# Function to display available tables
def list_tables():
    """Lists all tables available in the NBA database."""
    tables = query("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")
    return tables['table_name'].tolist()

In [2]:
list_tables()

['common_player_info',
 'draft_combine_stats',
 'draft_history',
 'game',
 'game_info',
 'game_summary',
 'games',
 'inactive_players',
 'leagueschedule24_25',
 'leagueschedule25_26',
 'line_score',
 'officials',
 'other_stats',
 'play_by_play',
 'player',
 'playeroftheweek',
 'players',
 'playerstatistics',
 'team',
 'team_details',
 'team_history',
 'team_info_common',
 'teamhistories',
 'teamstatistics']

In [3]:
query("""
WITH BaseData AS (

SELECT
firstname
,lastname
,CAST(personid AS INT)
,CAST(gameid AS INT)
,CAST(gamedate AS DATE)
,CAST(EXTRACT('week' FROM CAST(gamedate AS DATE)) AS INT) AS week
,CAST(EXTRACT('month' FROM CAST(gamedate AS DATE)) AS INT) AS month
,CAST(EXTRACT('year' FROM CAST(gamedate AS DATE)) AS INT) AS year
,CONCAT(CAST(EXTRACT('week' FROM CAST(gamedate AS DATE)) AS INT) , '-' ,CAST(EXTRACT('year' FROM CAST(gamedate AS DATE)) AS INT)) AS weekyear
,playerteamcity
,playerteamname
,opponentteamcity
,opponentteamname
,gametype
,gamelabel
,gamesublabel
,seriesgamenumber
,CAST(win AS INT)
,CAST(home AS INT)
,numminutes
,CAST(points AS INT)
,CAST(assists AS INT)
,CAST(blocks AS INT)
,CAST(steals AS INT)
,CAST(fieldgoalsmade AS INT)
,CAST(fieldgoalsattempted AS INT)
,fieldgoalspercentage
,CAST(threepointersmade AS INT)
,CAST(threepointersattempted AS INT)
,threepointerspercentage
,CAST(freethrowsmade AS INT)
,CAST(freethrowsattempted AS INT)
,freethrowspercentage
,CAST(reboundsoffensive AS INT)
,CAST(reboundsdefensive AS INT)
,CAST(reboundstotal AS INT)
,CAST(foulspersonal AS INT)
,CAST(turnovers AS INT)
,CAST(plusminuspoints AS INT)

FROM playerstatistics

)

SELECT

firstname
,lastname
,week
,playerteamname
,SUM(numminutes) AS numminutes
,SUM(points) AS points
,SUM(assists) AS assists
,SUM(blocks) AS blocks
,SUM(steals) AS steals
,SUM(fieldgoalsmade) AS fieldgoalsmade
,SUM(fieldgoalsattempted) AS fieldgoalsattempted
,SUM(threepointersmade) AS threepointersmade
,SUM(threepointersattempted) AS threepointersattempted
,SUM(freethrowsmade) AS freethrowsmade
,SUM(freethrowsattempted) AS freethrowsattempted
,SUM(reboundsoffensive) AS reboundsoffensive
,SUM(reboundsdefensive) AS reboundsdefensive
,SUM(reboundstotal) AS reboundstotal
,SUM(foulspersonal) AS foulspersonal
,SUM(turnovers) AS turnovers
,SUM(plusminuspoints) AS plusminuspoints

FROM BaseData
WHERE YEAR = '2025'
GROUP BY firstname, lastname, week, playerteamname
LIMIT 5

""")

,firstname,lastname,week,playerteamname,numminutes,points,assists,blocks,steals,fieldgoalsmade,...,threepointersmade,threepointersattempted,freethrowsmade,freethrowsattempted,reboundsoffensive,reboundsdefensive,reboundstotal,foulspersonal,turnovers,plusminuspoints
0,Aaron,Gordon,2,Nuggets,18.22,13,2,1,0,6,...,1,2,0,0,1,5,6,0,1,23
1,Aaron,Gordon,3,Nuggets,60.86,33,3,1,1,10,...,1,7,12,13,2,10,12,4,6,17
2,Aaron,Gordon,4,Nuggets,63.11,35,6,0,2,12,...,6,11,5,6,3,2,5,3,4,6
3,Aaron,Gordon,5,Nuggets,113.82,38,10,1,2,16,...,2,8,4,4,6,8,14,6,5,24
4,Aaron,Gordon,6,Nuggets,77.06,27,23,2,1,7,...,3,8,10,13,4,13,17,4,1,40

In [14]:
#!/usr/bin/env python3
"""
NBA Player of the Week Scraper - Improved Version

This script scrapes the NBA Player of the Week data from basketball.realgm.com
with improved table detection methods.
"""

import requests
from bs4 import BeautifulSoup
import pandas as pd
import re
from datetime import datetime
import time
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

def get_nba_db():
    """
    Creates a connection to the NBA PostgreSQL database.
    """
    host = os.getenv("NBA_DB_HOST")
    port = os.getenv("NBA_DB_PORT")
    database = os.getenv("NBA_DB_NAME")
    user = os.getenv("NBA_DB_USER")
    password = os.getenv("NBA_DB_PASSWORD")
    
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"
    return create_engine(connection_string)

# Create SQL engine
engine = get_nba_db()

def scrape_nba_potw():
    """
    Scrape the NBA Player of the Week data from basketball.realgm.com
    
    Returns:
        pandas.DataFrame: DataFrame containing the scraped data
    """
    # URL of the page to scrape
    url = "https://basketball.realgm.com/nba/awards/by-type/player-of-the-week/30"
    
    # Send a request to the website
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
    }
    
    print(f"Fetching data from {url}...")
    try:
        response = requests.get(url, headers=headers)
        response.raise_for_status()
    except requests.exceptions.RequestException as e:
        print(f"Error fetching the webpage: {e}")
        return None
    
    # Print status code for debugging
    print(f"Response status code: {response.status_code}")
    
    # Save HTML to a file for inspection if needed
    with open("webpage.html", "w", encoding="utf-8") as f:
        f.write(response.text)
    print("Saved HTML to webpage.html for inspection")
    
    # Parse the HTML content
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Try multiple methods to find the table
    # Method 1: By class
    table = soup.find('table', class_='tablesaw')
    
    # Method 2: Look for any table that contains the expected headers
    if not table:
        print("Trying to find table by headers...")
        for tbl in soup.find_all('table'):
            headers = [th.text.strip() for th in tbl.find_all('th')]
            # Check if this table has the expected headers
            if 'Player' in headers and 'Season' in headers and 'Date' in headers:
                table = tbl
                print("Found table by headers!")
                break
    
    # Check if we found a table
    if not table:
        # List all tables on the page for debugging
        all_tables = soup.find_all('table')
        print(f"Could not find the Player of the Week table. Found {len(all_tables)} tables on the page.")
        
        # Save info about all tables for debugging
        if all_tables:
            print("Tables found on the page:")
            for i, tbl in enumerate(all_tables):
                headers = [th.text.strip() for th in tbl.find_all('th')]
                rows = len(tbl.find_all('tr'))
                print(f"Table {i+1}: {rows} rows, Headers: {headers[:5]}{'...' if len(headers) > 5 else ''}")
                
                # If this table looks promising, try to use it
                if rows > 5 and len(headers) > 5:
                    print(f"Table {i+1} looks promising. Attempting to use it.")
                    table = tbl
                    break
        
        # If we still couldn't find a suitable table
        if not table:
            print("Could not find a suitable table. Please inspect the HTML manually.")
            return None
    
    # Extract the column headers
    headers = []
    header_row = table.find('tr')
    if header_row:
        for th in header_row.find_all(['th', 'td']):  # Some tables use td for headers
            header = th.text.strip()
            headers.append(header)
    
    # If headers are empty or don't look right, try another approach
    if not headers or 'Player' not in headers:
        print("Headers don't look right. Trying another approach...")
        rows = table.find_all('tr')
        if len(rows) > 1:
            # Try using the first row as headers
            header_cells = rows[0].find_all(['th', 'td'])
            headers = [cell.text.strip() for cell in header_cells]
            rows = rows[1:]  # Skip the header row for data extraction
        else:
            print("Could not extract headers")
            return None
    else:
        # Use normal approach for data rows
        rows = table.find_all('tr')[1:]  # Skip the header row
    
    print(f"Found headers: {headers}")
    
    # Extract the table data
    data = []
    for tr in rows:
        row = []
        for td in tr.find_all(['td', 'th']):  # Some tables might mix th and td
            # Extract the text from the cell
            cell_value = td.text.strip()
            row.append(cell_value)
        
        # Only add rows with enough columns
        if len(row) >= len(headers):
            # Trim to match header count
            row = row[:len(headers)]
            data.append(row)
    
    if not data:
        print("Could not extract any data rows")
        return None
    
    print(f"Extracted {len(data)} rows of data")
    
    # Create a pandas DataFrame from the extracted data
    df = pd.DataFrame(data, columns=headers)
    
    # List of likely column names for each type
    numeric_columns = [
        'Weight', 'Age', 'Draft Yr', 'YOS', 'Year', 'Years', 
        'Points', 'Rebounds', 'Assists', 'Steals', 'Blocks'
    ]
    
    date_columns = ['Date', 'Award Date', 'Week Of']
    
    # Convert numeric columns if they exist
    for col in df.columns:
        # Check if this column name contains any of our numeric column keywords
        if any(nc in col for nc in numeric_columns):
            df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # Convert date columns if they exist
    for col in df.columns:
        if any(dc in col for dc in date_columns):
            try:
                df[col] = pd.to_datetime(df[col], errors='coerce')
            except:
                print(f"Could not convert {col} to datetime")
    
    return df

def save_to_csv(df, filename=None):
    """
    Save the DataFrame to a CSV file
    
    Args:
        df (pandas.DataFrame): DataFrame to save
        filename (str, optional): Name of the output file. Defaults to None.
    """
    if df is None:
        print("No data to save")
        return
    
    if filename is None:
        timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
        filename = f"nba_player_of_the_week_{timestamp}.csv"
    
    df.to_csv(filename, index=False)
    print(f"Data saved to {filename}")

def main():
    print("=== NBA Player of the Week Scraper - Improved Version ===")
    
    # Add a delay to avoid being blocked
    print("Waiting a few seconds before scraping...")
    time.sleep(2)
    
    # Scrape the data
    df = scrape_nba_potw()
    
    if df is not None:
        # Display the first few rows of the DataFrame
        print("\nFirst few rows of the data:")
        print(df.head())
        
        # Display basic information about the DataFrame
        print("\nDataFrame information:")
        print(f"Shape: {df.shape}")
        print(f"Columns: {df.columns.tolist()}")
        
        # Save the data to a CSV file
        #save_to_csv(df)

        # Save data to Postgres DB table
        df.to_sql(
        name='playeroftheweek',  # Name of the target table in the database
        con=engine,             # The SQLAlchemy engine
        if_exists='replace',     # How to handle existing tables: 'fail', 'replace', or 'append'
        index=False             # Whether to write the DataFrame index as a column
        )
    else:
        print("Failed to scrape the data.")
        print("\nTroubleshooting tips:")
        print("1. Open the saved webpage.html file in a browser")
        print("2. Use browser developer tools (F12) to inspect the table")
        print("3. Look for the table's class, id, or other identifying attributes")
        print("4. Update the script with the correct selectors")

if __name__ == "__main__":
    main()

=== NBA Player of the Week Scraper - Improved Version ===
Waiting a few seconds before scraping...
Fetching data from https://basketball.realgm.com/nba/awards/by-type/player-of-the-week/30...
Response status code: 200
Saved HTML to webpage.html for inspection
Trying to find table by headers...
Found table by headers!
Found headers: ['Season', 'Player', 'Conference', 'Date', 'Team', 'Pos', 'Height', 'Weight', 'Age', 'Pre-Draft Team', 'Draft Yr', 'YOS']
Extracted 1562 rows of data

First few rows of the data:
      Season                 Player Conference       Date  \
0  2025-2026  Giannis Antetokounmpo       East 2025-10-27
1  2025-2026      Victor Wembanyama       West 2025-10-27
2  2024-2025  Giannis Antetokounmpo       East 2025-04-14
3  2024-2025           James Harden       West 2025-04-14
4  2024-2025  Giannis Antetokounmpo       East 2025-04-07

                   Team Pos Height  Weight  Age  \
0       Milwaukee Bucks   F   6-11     243   31
1     San Antonio Spurs   F    7-4     235   22
2       Milwaukee Bucks   F   6-11     243   30
3  Los Angeles Clippers  SG    6-5     220   35
4       Milwaukee Bucks   F   6-11     243   30

                         Pre-Draft Team  Draft Yr  YOS
0  Filathlitikos Div II Greece (Greece)      2013   12
1           Boulogne-Levallois (France)      2023    2
2  Filathlitikos Div II Greece (Greece)      2013   11
3                         Arizona State      2009   15
4  Filathlitikos Div II Greece (Greece)      2013   11

DataFrame information:
Shape: (1562, 12)
Columns: ['Season', 'Player', 'Conference', 'Date', 'Team', 'Pos', 'Height', 'Weight', 'Age', 'Pre-Draft Team', 'Draft Yr', 'YOS']

In [7]:
pd.read_csv('nba_player_of_the_week_20251101_192256.csv')

,Season,Player,Conference,Date,Team,Pos,Height,Weight,Age,Pre-Draft Team,Draft Yr,YOS
0,2025-2026,Giannis Antetokounmpo,East,2025-10-27,Milwaukee Bucks,F,6-11,243,31,Filathlitikos Div II Greece (Greece),2013,12
1,2025-2026,Victor Wembanyama,West,2025-10-27,San Antonio Spurs,F,7-4,235,22,Boulogne-Levallois (France),2023,2
2,2024-2025,Giannis Antetokounmpo,East,2025-04-14,Milwaukee Bucks,F,6-11,243,30,Filathlitikos Div II Greece (Greece),2013,11
3,2024-2025,James Harden,West,2025-04-14,Los Angeles Clippers,SG,6-5,220,35,Arizona State,2009,15
4,2024-2025,Giannis Antetokounmpo,East,2025-04-07,Milwaukee Bucks,F,6-11,243,30,Filathlitikos Div II Greece (Greece),2013,11
...,...,...,...,...,...,...,...,...,...,...,...,...
1557,1979-1980,Phil Ford,NaN,1979-11-18,Kansas City Kings,G,6-2,175,24,North Carolina,1978,1
1558,1979-1980,Magic Johnson,NaN,1979-11-11,Los Angeles Lakers,PG,6-9,255,20,Michigan State,1979,0
1559,1979-1980,Marques Johnson,NaN,1979-11-04,Milwaukee Bucks,GF,6-7,218,24,UCLA,1977,2
1560,1979-1980,Micheal Ray Richardson,NaN,1979-10-28,New York Knicks,PG,6-5,189,24,Montana,1978,1
1561,1979-1980,Julius Erving,NaN,1979-10-21,Philadelphia Sixers,SF,6-6,200,30,Massachusetts,1972,7

In [18]:
query("""
SELECT firstname, lastname, COUNT(personid)
FROM playerstatistics
GROUP BY firstname, lastname
HAVING COUNT(personid) > 1
--ORDER BY COUNT(personid) DESC

""")

     firstname    lastname  count
0        Awvee      Storey    169
1         Milt    Williams     68
2        Marco   Belinelli   1102
3        James  Palmer Jr.      2
4      Michael       Devoe      2
...        ...         ...    ...
5307   Anthony      Bonner    341
5308     Ahmad       Caver      8
5309    Cuonzo      Martin     14
5310       Mel       Riebe     32
5311      Fred       Diute      7

[5312 rows x 3 columns]

In [15]:
import wget
wget.download('https://storage.googleapis.com/nba_award_predictor/nba_data/playerstatistics.csv')

'playerstatistics.csv'

In [18]:
pd.read_csv('playerstatistics.csv')

/tmp/ipykernel_2273/3699588159.py:1: DtypeWarning: Columns (10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv('playerstatistics.csv')

,firstName,lastName,personId,gameId,gameDate,playerteamCity,playerteamName,opponentteamCity,opponentteamName,gameType,...,threePointersPercentage,freeThrowsAttempted,freeThrowsMade,freeThrowsPercentage,reboundsDefensive,reboundsOffensive,reboundsTotal,foulsPersonal,turnovers,plusMinusPoints
0,Chris,Paul,101108,22500170,2025-11-04T23:00:00Z,LA,Clippers,Oklahoma City,Thunder,NaN,...,0.000,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0,-24.0
1,Kris,Dunn,1627739,22500170,2025-11-04T23:00:00Z,LA,Clippers,Oklahoma City,Thunder,NaN,...,0.333,2.0,1.0,0.5,5.0,0.0,5.0,2.0,3.0,-24.0
2,Ivica,Zubac,1627826,22500170,2025-11-04T23:00:00Z,LA,Clippers,Oklahoma City,Thunder,NaN,...,0.000,2.0,1.0,0.5,3.0,4.0,7.0,2.0,2.0,7.0
3,Derrick,Jones Jr.,1627884,22500170,2025-11-04T23:00:00Z,LA,Clippers,Oklahoma City,Thunder,NaN,...,0.429,3.0,3.0,1.0,2.0,2.0,4.0,2.0,1.0,1.0
4,Alex,Caruso,1627936,22500170,2025-11-04T23:00:00Z,Oklahoma City,Thunder,LA,Clippers,NaN,...,0.400,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1632904,Fred,Sheffield,78131,24600052,1946-11-26 19:00:00,Philadelphia,Warriors,Boston,Celtics,Regular Season,...,0.000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1632905,Connie,Simmons,78153,24600052,1946-11-26 19:00:00,Boston,Celtics,Philadelphia,Warriors,Regular Season,...,0.000,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1632906,Johnny,Simmons,78154,24600052,1946-11-26 19:00:00,Boston,Celtics,Philadelphia,Warriors,Regular Season,...,0.000,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1632907,Virgil,Vaughn,78411,24600052,1946-11-26 19:00:00,Boston,Celtics,Philadelphia,Warriors,Regular Season,...,0.000,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1632908,Michael,Wallace,78443,24600052,1946-11-26 19:00:00,Boston,Celtics,Philadelphia,Warriors,Regular Season,...,0.000,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-1.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (14 kB)
Downloading duckdb-1.4.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (20.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.5/20.5 MB 32.4 MB/s eta 0:00:0000:010:01
Installing collected packages: duckdb
Successfully installed duckdb-1.4.1

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python3 -m pip install --upgrade pip

In [9]:
import pandas as pd
import wget
import duckdb

filename = 'common_player_info.csv'
lookup_file = 'nba_player_lookup.csv'
#wget.download(f'https://storage.googleapis.com/nba_award_predictor/nba_data/{filename}')
#wget.download(f'https://storage.googleapis.com/nba_award_predictor/nba_data/{lookup_file}')
common_player_info_df = pd.read_csv(filename).drop('person_id', axis=1)
nba_lookup_df = pd.read_csv(lookup_file)

query = """

SELECT * FROM common_player_info_df

"""

result_df = duckdb.query(query).df()
result_df

,first_name,last_name,display_first_last,display_last_comma_first,display_fi_last,player_slug,birthdate,school,country,last_affiliation,...,playercode,from_year,to_year,dleague_flag,nba_flag,games_played_flag,draft_year,draft_round,draft_number,greatest_75_flag
0,Alaa,Abdelnaby,Alaa Abdelnaby,"Abdelnaby, Alaa",A. Abdelnaby,alaa-abdelnaby,1968-06-24 00:00:00,Duke,USA,Duke/USA,...,HISTADD_alaa_abdelnaby,1990.0,1994.0,N,Y,Y,1990,1,25,N
1,Zaid,Abdul-Aziz,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",Z. Abdul-Aziz,zaid-abdul-aziz,1946-04-07 00:00:00,Iowa State,USA,Iowa State/USA,...,HISTADD_zaid_abdul-aziz,1968.0,1977.0,N,Y,Y,1968,1,5,N
2,Kareem,Abdul-Jabbar,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",K. Abdul-Jabbar,kareem-abdul-jabbar,1947-04-16 00:00:00,UCLA,USA,UCLA/USA,...,HISTADD_kareem_abdul-jabbar,1969.0,1988.0,N,Y,Y,1969,1,1,Y
3,Shareef,Abdur-Rahim,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",S. Abdur-Rahim,shareef-abdur-rahim,1976-12-11 00:00:00,California,USA,California/USA,...,shareef_abdur-rahim,1996.0,2007.0,N,Y,Y,1996,1,3,N
4,Forest,Able,Forest Able,"Able, Forest",F. Able,forest-able,1932-07-27 00:00:00,Western Kentucky,USA,Western Kentucky/USA,...,HISTADD_frosty_able,1956.0,1956.0,N,Y,Y,1956,None,None,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3627,Paul,Zipser,Paul Zipser,"Zipser, Paul",P. Zipser,paul-zipser,1994-02-18 00:00:00,Bayern Munich,Germany,Bayern Munich/Germany,...,paul_zipser,2016.0,2017.0,Y,Y,Y,2016,2,48,N
3628,Ante,Zizic,Ante Zizic,"Zizic, Ante",A. Zizic,ante-zizic,1997-01-04 00:00:00,Darussafaka,Croatia,Darussafaka/Croatia,...,ante_zizic,2017.0,2019.0,Y,Y,Y,2016,1,23,N
3629,Jim,Zoet,Jim Zoet,"Zoet, Jim",J. Zoet,jim-zoet,1953-12-30 00:00:00,Kent State,USA,Kent State/USA,...,HISTADD_jim_zoet,1982.0,1982.0,N,Y,Y,Undrafted,Undrafted,Undrafted,N
3630,Bill,Zopf,Bill Zopf,"Zopf, Bill",B. Zopf,bill-zopf,1948-06-07 00:00:00,Duquesne,USA,Duquesne/USA,...,HISTADD_zip_zopf,1970.0,1970.0,N,Y,Y,1970,2,33,N
3631,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18 00:00:00,Mega Basket,Croatia,Mega Basket/Croatia,...,ivica_zubac,2016.0,2023.0,Y,Y,Y,2016,2,32,N

In [23]:
query = """

SELECT * FROM nba_lookup_df

"""

nba_lookup_df = duckdb.query(query).df()
nba_lookup_df

      player_id          player_name first_name     last_name  is_active
0         76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1         76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2         76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3            51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4          1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...         ...                  ...        ...           ...        ...
5130      78650           Matt Zunic       Matt         Zunic      False
5131    1641783     Tristan da Silva    Tristan      da Silva       True
5132    1628427        Vlatko Čančar     Vlatko        Čančar       True
5133    1642365       Nikola Đurišić     Nikola       Đurišić      False
5134     203967          Dario Šarić      Dario         Šarić       True

[5135 rows x 5 columns]

In [17]:
import unicodedata
import re

def remove_accents(text):
    """
    Remove accent marks from input text while preserving the base characters.
    Also handles special characters like Đ/đ.
    
    Example:
    "Nikola Đurišić" -> "Nikola Durisic"
    """
    # First, handle special characters that need specific replacements
    special_chars = {
        'Đ': 'D', 'đ': 'd',  # Serbian/Croatian D with stroke
        'Ł': 'L', 'ł': 'l',  # Polish L with stroke
        'Ø': 'O', 'ø': 'o',  # Danish/Norwegian O with stroke
        'Ŧ': 'T', 'ŧ': 't',  # Sami T with stroke
        'Æ': 'AE', 'æ': 'ae',  # Æ/æ ligature
        'Œ': 'OE', 'œ': 'oe',  # Œ/œ ligature
        'ß': 'ss',  # German eszett
    }
    
    for char, replacement in special_chars.items():
        text = text.replace(char, replacement)
    
    # Normalize the text to decompose characters into base character and accent mark
    normalized_text = unicodedata.normalize('NFKD', text)
    
    # Filter out the non-spacing marks (accent marks)
    result = ''.join(c for c in normalized_text if not unicodedata.category(c).startswith('Mn'))
    
    return result

# Example
name = "Nikola Đurišić"
clean_name = remove_accents(name)
print(f"Original: {name}")
print(f"Without accents: {clean_name}")

Original: Nikola Đurišić
Without accents: Nikola Durisic

In [24]:
nba_lookup_df['player_name'] = nba_lookup_df['player_name'].apply(remove_accents)
nba_lookup_df

      player_id          player_name first_name     last_name  is_active
0         76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1         76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2         76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3            51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4          1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...         ...                  ...        ...           ...        ...
5130      78650           Matt Zunic       Matt         Zunic      False
5131    1641783     Tristan da Silva    Tristan      da Silva       True
5132    1628427        Vlatko Cancar     Vlatko        Čančar       True
5133    1642365       Nikola Durisic     Nikola       Đurišić      False
5134     203967          Dario Saric      Dario         Šarić       True

[5135 rows x 5 columns]

In [26]:
query = """
WITH CTE AS (
SELECT * FROM common_player_info_df a
JOIN nba_lookup_df b
ON a.display_first_last = b.player_name
)

SELECT DISTINCT display_first_last
FROM CTE

"""

output = duckdb.query(query).df()
output

       display_first_last
0     Shareef Abdur-Rahim
1          John Abramovic
2            Alex Abrines
3              Quincy Acy
4             Alvan Adams
...                   ...
3589          Paul Zipser
3590           Ante Zizic
3591             Jim Zoet
3592        Vlatko Cancar
3593          Dario Saric

[3594 rows x 1 columns]

In [27]:
query = """

SELECT DISTINCT display_first_last
FROM common_player_info_df

"""

output = duckdb.query(query).df()
output

       display_first_last
0          Alaa Abdelnaby
1         Zaid Abdul-Aziz
2     Kareem Abdul-Jabbar
3             Forest Able
4        Precious Achiuwa
...                   ...
3603     Phil Zevenbergen
3604              Zhou Qi
3605         George Zidek
3606            Bill Zopf
3607          Ivica Zubac

[3608 rows x 1 columns]

In [28]:
query = """
WITH CTE AS (
SELECT * FROM common_player_info_df a
JOIN nba_lookup_df b
ON a.display_first_last = b.player_name
)

SELECT DISTINCT display_first_last
FROM common_player_info_df
EXCEPT
SELECT DISTINCT display_first_last
FROM CTE

"""

output = duckdb.query(query).df()
output

        display_first_last
0             Jimmy Butler
1             J.D. Davison
2                    Ha Ha
3   Bear, The Body Hoffman
4        Kenyon Martin Jr.
5   Ted, Hound Dog McClain
6                Tre Scott
7                  Sun Sun
8             O.G. Anunoby
9       Brandon Boston Jr.
10          Chaundee Brown
11             Nigel Hayes
12             RJ Nembhard
13            D.J. Stewart

In [69]:
query = """

SELECT *, 'nba_api_lookup' AS data_source
--FROM common_player_info_df
FROM nba_lookup_df
WHERE 1=1
AND last_name LIKE '%Stewart%'
--AND first_name LIKE 'Chaundee'

"""

output = duckdb.query(query).df()
output

   player_id      player_name first_name last_name  is_active     data_source
0    1630597       DJ Stewart         DJ   Stewart      False  nba_api_lookup
1      78253   Dennis Stewart     Dennis   Stewart      False  nba_api_lookup
2    1630191   Isaiah Stewart     Isaiah   Stewart       True  nba_api_lookup
3       1529     Kebu Stewart       Kebu   Stewart      False  nba_api_lookup
4       1125    Larry Stewart      Larry   Stewart      False  nba_api_lookup
5       1565  Michael Stewart    Michael   Stewart      False  nba_api_lookup
6      78256     Norm Stewart       Norm   Stewart      False  nba_api_lookup

In [ ]:
# pd.DataFrame({
# "table_name": "Jimmy Butler", "nba_lookup_name": "Jimmy Butler III",
# "table_name": "J.D. Davison", "nba_lookup_name": "JD Davison",
# "table_name": "Ha Ha", "nba_lookup_name": "Ha Seung-jin",
# "table_name": "Bear, The Body Hoffman", "nba_lookup_name": "Paul 'The Bear' Hoffman",
# "table_name": "Kenyon Martin Jr.", "nba_lookup_name": "KJ Martin",
# "table_name": "Ted, Hound Dog McClain", "nba_lookup_name": "Ted 'Hound Dog' McClain",
# "table_name": "Tre Scott", "nba_lookup_name": "Trevon Scott",
# "table_name": "Sun Sun", "nba_lookup_name": "Sun Yue",
# "table_name": "O.G. Anunoby", "nba_lookup_name": "OG Anunoby",
# "table_name": "Brandon Boston Jr.", "nba_lookup_name": "Brandon Boston",
# "table_name": "Chaundee Brown", "nba_lookup_name": "Chaundee Brown Jr.",
# "table_name": "Nigel Hayes", "nba_lookup_name": "Nigel Hayes-Davis",
# "table_name": "RJ Nembhard", "nba_lookup_name": "Ruben Nembhard Jr.",
# "table_name": "D.J. Stewart", "nba_lookup_name": "DJ Stewart"
# })

import pandas as pd

# Create a list of dictionaries where each dictionary represents one row
data = [
    {"table_name": "Jimmy Butler", "nba_lookup_name": "Jimmy Butler III"},
    {"table_name": "J.D. Davison", "nba_lookup_name": "JD Davison"},
    {"table_name": "Ha Ha", "nba_lookup_name": "Ha Seung-jin"},
    {"table_name": "Bear, The Body Hoffman", "nba_lookup_name": "Paul 'The Bear' Hoffman"},
    {"table_name": "Kenyon Martin Jr.", "nba_lookup_name": "KJ Martin"},
    {"table_name": "Ted, Hound Dog McClain", "nba_lookup_name": "Ted 'Hound Dog' McClain"},
    {"table_name": "Tre Scott", "nba_lookup_name": "Trevon Scott"},
    {"table_name": "Sun Sun", "nba_lookup_name": "Sun Yue"},
    {"table_name": "O.G. Anunoby", "nba_lookup_name": "OG Anunoby"},
    {"table_name": "Brandon Boston Jr.", "nba_lookup_name": "Brandon Boston"},
    {"table_name": "Chaundee Brown", "nba_lookup_name": "Chaundee Brown Jr."},
    {"table_name": "Nigel Hayes", "nba_lookup_name": "Nigel Hayes-Davis"},
    {"table_name": "RJ Nembhard", "nba_lookup_name": "Ruben Nembhard Jr."},
    {"table_name": "D.J. Stewart", "nba_lookup_name": "DJ Stewart"},





    
]

# Create DataFrame from the list of dictionaries
df = pd.DataFrame(data)
df

                table_name          nba_lookup_name
0             Jimmy Butler         Jimmy Butler III
1             J.D. Davison               JD Davison
2                    Ha Ha             Ha Seung-jin
3   Bear, The Body Hoffman  Paul 'The Bear' Hoffman
4        Kenyon Martin Jr.                KJ Martin
5   Ted, Hound Dog McClain  Ted 'Hound Dog' McClain
6                Tre Scott             Trevon Scott
7                  Sun Sun                  Sun Yue
8             O.G. Anunoby               OG Anunoby
9       Brandon Boston Jr.           Brandon Boston
10          Chaundee Brown       Chaundee Brown Jr.
11             Nigel Hayes        Nigel Hayes-Davis
12             RJ Nembhard       Ruben Nembhard Jr.
13            D.J. Stewart               DJ Stewart