In [9]:
import pandas as pd
import wget
import duckdb

filename = 'draft_combine_stats.csv'
lookup_file = 'nba_player_lookup.csv'
wget.download(f'https://storage.googleapis.com/nba_award_predictor/nba_data/{filename}')
#wget.download(f'https://storage.googleapis.com/nba_award_predictor/nba_data/{lookup_file}')
draft_combine_stats_df = pd.read_csv(filename)
nba_lookup_df = pd.read_csv(lookup_file)

query = """

SELECT * FROM draft_combine_stats_df
JOIN nba_lookup_df
ON draft_combine_stats_df.player_id = nba_lookup_df.player_id
--WHERE draft_combine_stats_df.player_id = '2124'

"""

result_df = duckdb.query(query).df()
result_df

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college,player_id_1,player_name_1,first_name_1,last_name_1,is_active
0,2000,2124,Malik,Allen,Malik Allen,PF-C,80.25,6' 8.25'',NaN,None,...,None,None,None,None,None,2124,Malik Allen,Malik,Allen,False
1,2000,2056,Primoz,Brezec,Primoz Brezec,C,84.75,7' 0.75'',NaN,None,...,None,None,None,None,None,2056,Primoz Brezec,Primoz,Brezec,False
2,2000,2081,Ernest,Brown,Ernest Brown,C,82.00,6' 10'',NaN,None,...,None,None,None,None,None,2081,Ernest Brown,Ernest,Brown,False
3,2000,2049,Speedy,Claxton,Speedy Claxton,PG,70.50,5' 10.5'',NaN,None,...,None,None,None,None,None,2049,Speedy Claxton,Speedy,Claxton,False
4,2000,2037,Jamal,Crawford,Jamal Crawford,PG-SG,76.50,6' 4.5'',NaN,None,...,None,None,None,None,None,2037,Jamal Crawford,Jamal,Crawford,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,None,NaN,None,...,None,None,None,None,None,1641705,Victor Wembanyama,Victor,Wembanyama,True
1151,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,None,...,None,None,None,None,None,1641727,Dariq Whitehead,Dariq,Whitehead,True
1152,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,None,...,None,None,None,None,None,1641715,Cam Whitmore,Cam,Whitmore,True
1153,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,None,...,18-30,None,None,None,14-25,1630592,Jalen Wilson,Jalen,Wilson,True
1154,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,None,...,23-30,None,None,None,17-25,1631209,Isaiah Wong,Isaiah,Wong,True

In [5]:
query = """

SELECT * FROM nba_lookup_df
"""

nba_lookup_df = duckdb.query(query).df()
nba_lookup_df

,season,player_id,first_name,last_name,player_name,position,height_wo_shoes,height_wo_shoes_ft_in,height_w_shoes,height_w_shoes_ft_in,...,off_drib_college_break_left,off_drib_college_top_key,off_drib_college_break_right,on_move_fifteen,on_move_college,player_id_1,player_name_1,first_name_1,last_name_1,is_active
0,2000,2124,Malik,Allen,Malik Allen,PF-C,80.25,6' 8.25'',NaN,None,...,None,None,None,None,None,2124,Malik Allen,Malik,Allen,False
1,2000,2056,Primoz,Brezec,Primoz Brezec,C,84.75,7' 0.75'',NaN,None,...,None,None,None,None,None,2056,Primoz Brezec,Primoz,Brezec,False
2,2000,2081,Ernest,Brown,Ernest Brown,C,82.00,6' 10'',NaN,None,...,None,None,None,None,None,2081,Ernest Brown,Ernest,Brown,False
3,2000,2049,Speedy,Claxton,Speedy Claxton,PG,70.50,5' 10.5'',NaN,None,...,None,None,None,None,None,2049,Speedy Claxton,Speedy,Claxton,False
4,2000,2037,Jamal,Crawford,Jamal Crawford,PG-SG,76.50,6' 4.5'',NaN,None,...,None,None,None,None,None,2037,Jamal Crawford,Jamal,Crawford,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,2023,1641705,Victor,Wembanyama,Victor Wembanyama,C,NaN,None,NaN,None,...,None,None,None,None,None,1641705,Victor Wembanyama,Victor,Wembanyama,True
1151,2023,1641727,Dariq,Whitehead,Dariq Whitehead,SG,77.75,6' 5.75'',NaN,None,...,None,None,None,None,None,1641727,Dariq Whitehead,Dariq,Whitehead,True
1152,2023,1641715,Cam,Whitmore,Cam Whitmore,SF,77.75,6' 5.75'',NaN,None,...,None,None,None,None,None,1641715,Cam Whitmore,Cam,Whitmore,True
1153,2023,1630592,Jalen,Wilson,Jalen Wilson,SF,77.50,6' 5.50'',NaN,None,...,18-30,None,None,None,14-25,1630592,Jalen Wilson,Jalen,Wilson,True
1154,2023,1631209,Isaiah,Wong,Isaiah Wong,SG,74.50,6' 2.50'',NaN,None,...,23-30,None,None,None,17-25,1631209,Isaiah Wong,Isaiah,Wong,True

In [17]:
import unicodedata
import re

def remove_accents(text):
    """
    Remove accent marks from input text while preserving the base characters.
    Also handles special characters like Đ/đ.
    
    Example:
    "Nikola Đurišić" -> "Nikola Durisic"
    """
    # First, handle special characters that need specific replacements
    special_chars = {
        'Đ': 'D', 'đ': 'd',  # Serbian/Croatian D with stroke
        'Ł': 'L', 'ł': 'l',  # Polish L with stroke
        'Ø': 'O', 'ø': 'o',  # Danish/Norwegian O with stroke
        'Ŧ': 'T', 'ŧ': 't',  # Sami T with stroke
        'Æ': 'AE', 'æ': 'ae',  # Æ/æ ligature
        'Œ': 'OE', 'œ': 'oe',  # Œ/œ ligature
        'ß': 'ss',  # German eszett
    }
    
    for char, replacement in special_chars.items():
        text = text.replace(char, replacement)
    
    # Normalize the text to decompose characters into base character and accent mark
    normalized_text = unicodedata.normalize('NFKD', text)
    
    # Filter out the non-spacing marks (accent marks)
    result = ''.join(c for c in normalized_text if not unicodedata.category(c).startswith('Mn'))
    
    return result

# Example
name = "Nikola Đurišić"
clean_name = remove_accents(name)
print(f"Original: {name}")
print(f"Without accents: {clean_name}")

Original: Nikola Đurišić
Without accents: Nikola Durisic

In [24]:
nba_lookup_df['player_name'] = nba_lookup_df['player_name'].apply(remove_accents)
nba_lookup_df

      player_id          player_name first_name     last_name  is_active
0         76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1         76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2         76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3            51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4          1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...         ...                  ...        ...           ...        ...
5130      78650           Matt Zunic       Matt         Zunic      False
5131    1641783     Tristan da Silva    Tristan      da Silva       True
5132    1628427        Vlatko Cancar     Vlatko        Čančar       True
5133    1642365       Nikola Durisic     Nikola       Đurišić      False
5134     203967          Dario Saric      Dario         Šarić       True

[5135 rows x 5 columns]

In [26]:
query = """
WITH CTE AS (
SELECT * FROM common_player_info_df a
JOIN nba_lookup_df b
ON a.display_first_last = b.player_name
)

SELECT DISTINCT display_first_last
FROM CTE

"""

output = duckdb.query(query).df()
output

       display_first_last
0     Shareef Abdur-Rahim
1          John Abramovic
2            Alex Abrines
3              Quincy Acy
4             Alvan Adams
...                   ...
3589          Paul Zipser
3590           Ante Zizic
3591             Jim Zoet
3592        Vlatko Cancar
3593          Dario Saric

[3594 rows x 1 columns]

In [27]:
query = """

SELECT DISTINCT display_first_last
FROM common_player_info_df

"""

output = duckdb.query(query).df()
output

       display_first_last
0          Alaa Abdelnaby
1         Zaid Abdul-Aziz
2     Kareem Abdul-Jabbar
3             Forest Able
4        Precious Achiuwa
...                   ...
3603     Phil Zevenbergen
3604              Zhou Qi
3605         George Zidek
3606            Bill Zopf
3607          Ivica Zubac

[3608 rows x 1 columns]

In [28]:
query = """
WITH CTE AS (
SELECT * FROM common_player_info_df a
JOIN nba_lookup_df b
ON a.display_first_last = b.player_name
)

SELECT DISTINCT display_first_last
FROM common_player_info_df
EXCEPT
SELECT DISTINCT display_first_last
FROM CTE

"""

output = duckdb.query(query).df()
output

        display_first_last
0             Jimmy Butler
1             J.D. Davison
2                    Ha Ha
3   Bear, The Body Hoffman
4        Kenyon Martin Jr.
5   Ted, Hound Dog McClain
6                Tre Scott
7                  Sun Sun
8             O.G. Anunoby
9       Brandon Boston Jr.
10          Chaundee Brown
11             Nigel Hayes
12             RJ Nembhard
13            D.J. Stewart

In [69]:
query = """

SELECT *, 'nba_api_lookup' AS data_source
--FROM common_player_info_df
FROM nba_lookup_df
WHERE 1=1
AND last_name LIKE '%Stewart%'
--AND first_name LIKE 'Chaundee'

"""

output = duckdb.query(query).df()
output

   player_id      player_name first_name last_name  is_active     data_source
0    1630597       DJ Stewart         DJ   Stewart      False  nba_api_lookup
1      78253   Dennis Stewart     Dennis   Stewart      False  nba_api_lookup
2    1630191   Isaiah Stewart     Isaiah   Stewart       True  nba_api_lookup
3       1529     Kebu Stewart       Kebu   Stewart      False  nba_api_lookup
4       1125    Larry Stewart      Larry   Stewart      False  nba_api_lookup
5       1565  Michael Stewart    Michael   Stewart      False  nba_api_lookup
6      78256     Norm Stewart       Norm   Stewart      False  nba_api_lookup

In [ ]:
# pd.DataFrame({
# "table_name": "Jimmy Butler", "nba_lookup_name": "Jimmy Butler III",
# "table_name": "J.D. Davison", "nba_lookup_name": "JD Davison",
# "table_name": "Ha Ha", "nba_lookup_name": "Ha Seung-jin",
# "table_name": "Bear, The Body Hoffman", "nba_lookup_name": "Paul 'The Bear' Hoffman",
# "table_name": "Kenyon Martin Jr.", "nba_lookup_name": "KJ Martin",
# "table_name": "Ted, Hound Dog McClain", "nba_lookup_name": "Ted 'Hound Dog' McClain",
# "table_name": "Tre Scott", "nba_lookup_name": "Trevon Scott",
# "table_name": "Sun Sun", "nba_lookup_name": "Sun Yue",
# "table_name": "O.G. Anunoby", "nba_lookup_name": "OG Anunoby",
# "table_name": "Brandon Boston Jr.", "nba_lookup_name": "Brandon Boston",
# "table_name": "Chaundee Brown", "nba_lookup_name": "Chaundee Brown Jr.",
# "table_name": "Nigel Hayes", "nba_lookup_name": "Nigel Hayes-Davis",
# "table_name": "RJ Nembhard", "nba_lookup_name": "Ruben Nembhard Jr.",
# "table_name": "D.J. Stewart", "nba_lookup_name": "DJ Stewart"
# })

import pandas as pd

# Create a list of dictionaries where each dictionary represents one row
data = [
    {"table_name": "Jimmy Butler", "nba_lookup_name": "Jimmy Butler III"},
    {"table_name": "J.D. Davison", "nba_lookup_name": "JD Davison"},
    {"table_name": "Ha Ha", "nba_lookup_name": "Ha Seung-jin"},
    {"table_name": "Bear, The Body Hoffman", "nba_lookup_name": "Paul 'The Bear' Hoffman"},
    {"table_name": "Kenyon Martin Jr.", "nba_lookup_name": "KJ Martin"},
    {"table_name": "Ted, Hound Dog McClain", "nba_lookup_name": "Ted 'Hound Dog' McClain"},
    {"table_name": "Tre Scott", "nba_lookup_name": "Trevon Scott"},
    {"table_name": "Sun Sun", "nba_lookup_name": "Sun Yue"},
    {"table_name": "O.G. Anunoby", "nba_lookup_name": "OG Anunoby"},
    {"table_name": "Brandon Boston Jr.", "nba_lookup_name": "Brandon Boston"},
    {"table_name": "Chaundee Brown", "nba_lookup_name": "Chaundee Brown Jr."},
    {"table_name": "Nigel Hayes", "nba_lookup_name": "Nigel Hayes-Davis"},
    {"table_name": "RJ Nembhard", "nba_lookup_name": "Ruben Nembhard Jr."},
    {"table_name": "D.J. Stewart", "nba_lookup_name": "DJ Stewart"},





    
]

# Create DataFrame from the list of dictionaries
df = pd.DataFrame(data)
df

                table_name          nba_lookup_name
0             Jimmy Butler         Jimmy Butler III
1             J.D. Davison               JD Davison
2                    Ha Ha             Ha Seung-jin
3   Bear, The Body Hoffman  Paul 'The Bear' Hoffman
4        Kenyon Martin Jr.                KJ Martin
5   Ted, Hound Dog McClain  Ted 'Hound Dog' McClain
6                Tre Scott             Trevon Scott
7                  Sun Sun                  Sun Yue
8             O.G. Anunoby               OG Anunoby
9       Brandon Boston Jr.           Brandon Boston
10          Chaundee Brown       Chaundee Brown Jr.
11             Nigel Hayes        Nigel Hayes-Davis
12             RJ Nembhard       Ruben Nembhard Jr.
13            D.J. Stewart               DJ Stewart