In [33]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

def get_nba_db():
    """
    Creates a connection to the NBA PostgreSQL database.
    """
    host = os.getenv("NBA_DB_HOST")
    port = os.getenv("NBA_DB_PORT")
    database = os.getenv("NBA_DB_NAME")
    user = os.getenv("NBA_DB_USER")
    password = os.getenv("NBA_DB_PASSWORD")
    
    connection_string = f"postgresql://{user}:{password}@{host}:{port}/{database}"
    return create_engine(connection_string)

def query(sql):
    """
    Executes SQL query against the NBA database and returns results as a pandas DataFrame.
    """
    engine = get_nba_db()
    return pd.read_sql(sql, engine)

# Function to display available tables
def list_tables():
    """Lists all tables available in the NBA database."""
    tables = query("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'")
    return tables['table_name'].tolist()

In [ ]:
list_tables()

In [34]:
query("""
    SELECT * FROM playerstatistics LIMIT 10
""")

,firstname,lastname,personid,gameid,gamedate,playerteamcity,playerteamname,opponentteamcity,opponentteamname,gametype,...,threepointerspercentage,freethrowsmade,freethrowsattempted,freethrowspercentage,reboundsoffensive,reboundsdefensive,reboundstotal,foulspersonal,turnovers,plusminuspoints
0,Kawhi,Leonard,202695.0,42400175.0,2025-04-29 22:00:00,Los Angeles,Clippers,Denver,Nuggets,Playoffs,...,0.25,3.0,7.0,0.429,2.0,7.0,9.0,2.0,1.0,-7.0
1,Aaron,Gordon,203932.0,42400175.0,2025-04-29 22:00:00,Denver,Nuggets,Los Angeles,Clippers,Playoffs,...,0.50,8.0,9.0,0.889,2.0,2.0,4.0,4.0,1.0,13.0
2,Dario,Saric,203967.0,42400175.0,2025-04-29 22:00:00,Denver,Nuggets,Los Angeles,Clippers,Playoffs,...,0.00,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0
3,Bogdan,Bogdanovic,203992.0,42400175.0,2025-04-29 22:00:00,Los Angeles,Clippers,Denver,Nuggets,Playoffs,...,0.50,4.0,4.0,1.000,1.0,2.0,3.0,5.0,2.0,-8.0
4,Nikola,Jokic,203999.0,42400175.0,2025-04-29 22:00:00,Denver,Nuggets,Los Angeles,Clippers,Playoffs,...,0.25,4.0,5.0,0.800,1.0,9.0,10.0,1.0,2.0,18.0
5,Jaylen,Brown,1627759.0,42400115.0,2025-04-29 20:30:00,Boston,Celtics,Orlando,Magic,Playoffs,...,0.50,3.0,5.0,0.600,1.0,5.0,6.0,3.0,2.0,11.0
6,Jayson,Tatum,1628369.0,42400115.0,2025-04-29 20:30:00,Boston,Celtics,Orlando,Magic,Playoffs,...,0.80,11.0,11.0,1.000,0.0,8.0,8.0,2.0,2.0,34.0
7,Jonathan,Isaac,1628371.0,42400115.0,2025-04-29 20:30:00,Orlando,Magic,Boston,Celtics,Playoffs,...,0.00,1.0,2.0,0.500,0.0,1.0,1.0,1.0,2.0,-8.0
8,Derrick,White,1628401.0,42400115.0,2025-04-29 20:30:00,Boston,Celtics,Orlando,Magic,Playoffs,...,0.00,1.0,1.0,1.000,0.0,4.0,4.0,3.0,1.0,8.0
9,Luke,Kornet,1628436.0,42400115.0,2025-04-29 20:30:00,Boston,Celtics,Orlando,Magic,Playoffs,...,0.00,3.0,3.0,1.000,0.0,4.0,4.0,2.0,1.0,23.0

In [35]:

df = df.reset_index()

df['gamedate'] = pd.to_datetime(df['gamedate'], errors='coerce', utc=True).dt.tz_localize(None)

df = df.dropna(subset=['gamedate'])
print("gamedate dtype:", df['gamedate'].dtype)


weekly = (
    df.groupby(['personid', pd.Grouper(key='gamedate', freq='W')])
      .agg({
          'points': 'mean',
          'assists': 'mean',
          'reboundstotal': 'mean',
          'turnovers': 'mean',
          'numminutes': 'mean',
          'plusminuspoints': 'mean',
          'fieldgoalspercentage': 'mean',
          'threepointerspercentage': 'mean',
          'freethrowspercentage': 'mean'
      })
      .reset_index()
)

print(" Weekly aggregation complete:", weekly.shape)
display(weekly.head(50))


sql = """
SELECT 
    personid,
    firstname,
    lastname,
    playerteamname,
    opponentteamname,
    points,
    assists,
    reboundstotal,
    reboundsoffensive,
    reboundsdefensive,
    fieldgoalspercentage,
    threepointerspercentage,
    freethrowspercentage,
    numminutes,
    turnovers,
    foulspersonal,
    plusminuspoints,
    gamedate
FROM playerstatistics
WHERE gamedate >= '2024-01-01'
"""
df = query(sql)
print("Loaded data:", df.shape)


df = df.reset_index()   
df['gamedate'] = pd.to_datetime(df['gamedate'], errors='coerce')

df = df.dropna(subset=['gamedate'])

weekly = (
    df.groupby(['personid', pd.Grouper(key='gamedate', freq='W')])
      .agg({
          'points': 'mean',
          'assists': 'mean',
          'reboundstotal': 'mean',
          'turnovers': 'mean',
          'numminutes': 'mean',
          'plusminuspoints': 'mean',
          'fieldgoalspercentage': 'mean',
          'threepointerspercentage': 'mean',
          'freethrowspercentage': 'mean'
      })
      .reset_index()
)

print("Weekly aggregation complete:", weekly.shape)
display(weekly.head(50))

gamedate dtype: datetime64[ns]
 Weekly aggregation complete: (21411, 11)

,personid,gamedate,points,assists,reboundstotal,turnovers,numminutes,plusminuspoints,fieldgoalspercentage,threepointerspercentage,freethrowspercentage
0,2544.0,2024-01-07,23.000000,7.666667,6.333333,3.333333,38.000000,-7.666667,0.456667,0.259000,0.422333
1,2544.0,2024-01-14,16.000000,10.500000,5.000000,3.500000,29.500000,-12.500000,0.372000,0.200000,0.619000
2,2544.0,2024-01-21,25.500000,6.000000,7.750000,3.750000,33.750000,9.250000,0.508750,0.426000,0.675000
3,2544.0,2024-01-28,30.500000,12.000000,12.000000,4.000000,41.000000,4.000000,0.543000,0.625000,1.000000
4,2544.0,2024-02-04,22.333333,7.666667,6.666667,1.666667,37.000000,-2.000000,0.512667,0.377667,0.606333
5,2544.0,2024-02-11,24.000000,9.333333,5.666667,2.666667,37.000000,3.666667,0.485667,0.444333,0.847333
6,2544.0,2024-02-18,25.000000,8.000000,1.000000,4.000000,30.000000,9.000000,0.600000,0.500000,1.000000
7,2544.0,2024-02-25,29.000000,10.500000,7.000000,2.500000,35.000000,6.500000,0.611500,0.583500,0.625000
8,2544.0,2024-03-03,30.333333,8.666667,4.666667,3.333333,37.333333,1.666667,0.573000,0.461000,0.571333
9,2544.0,2024-03-10,26.333333,10.000000,8.000000,3.333333,34.333333,8.333333,0.583333,0.361000,0.859333
10,2544.0,2024-03-17,29.000000,9.000000,10.500000,4.500000,38.500000,-8.000000,0.513500,0.425000,0.771000
11,2544.0,2024-03-24,23.666667,8.666667,6.666667,4.333333,34.333333,13.000000,0.534000,0.411000,0.904667
12,2544.0,2024-03-31,19.750000,6.250000,7.750000,3.250000,35.000000,10.500000,0.459000,0.225000,0.617250
13,2544.0,2024-04-07,24.000000,10.000000,5.333333,3.333333,33.000000,10.666667,0.629667,0.400000,0.592667
14,2544.0,2024-04-14,32.666667,11.000000,9.000000,5.333333,37.333333,2.666667,0.612000,0.254000,0.842333
15,2544.0,2024-04-21,25.000000,8.500000,7.500000,4.500000,40.000000,1.000000,0.462500,0.400000,0.900000
16,2544.0,2024-04-28,27.333333,8.333333,6.333333,3.666667,39.333333,-1.666667,0.561000,0.222333,0.738000
17,2544.0,2024-05-05,30.000000,11.000000,9.000000,1.000000,44.000000,3.000000,0.524000,0.429000,0.714000
18,2544.0,2024-10-06,9.500000,2.000000,2.500000,2.000000,16.200000,4.500000,0.333500,0.333500,0.500000
19,2544.0,2024-10-13,11.000000,3.000000,6.000000,2.000000,15.490000,4.000000,0.364000,0.500000,0.500000
20,2544.0,2024-10-20,2.000000,1.333333,0.666667,1.000000,23.260000,-4.333333,0.111000,0.000000,0.000000
21,2544.0,2024-10-27,23.000000,7.333333,7.666667,3.000000,34.090000,7.000000,0.507000,0.364667,0.875000
22,2544.0,2024-11-03,21.333333,7.000000,5.666667,2.666667,33.403333,-7.666667,0.478333,0.452667,0.722333
23,2544.0,2024-11-10,24.750000,11.500000,9.250000,2.750000,35.800000,-3.000000,0.533750,0.386250,0.937500
24,2544.0,2024-11-17,23.666667,10.333333,11.666667,6.333333,37.023333,2.333333,0.504000,0.369000,0.575000
25,2544.0,2024-11-24,25.000000,8.666667,6.000000,4.666667,34.990000,-12.666667,0.495333,0.335333,0.712000
26,2544.0,2024-12-01,18.250000,10.250000,7.750000,4.500000,34.210000,-9.500000,0.424000,0.071500,0.750000
27,2544.0,2024-12-08,26.000000,7.666667,7.666667,5.000000,34.230000,-15.333333,0.492333,0.265000,0.777667
28,2544.0,2024-12-15,18.000000,8.000000,8.000000,5.000000,34.000000,0.000000,0.412000,0.500000,0.250000
29,2544.0,2024-12-22,25.500000,6.500000,6.500000,3.000000,34.150000,11.500000,0.461500,0.187500,0.916500
30,2544.0,2024-12-29,29.500000,10.500000,7.500000,1.500000,35.925000,1.500000,0.585000,0.500000,0.928500
31,2544.0,2025-01-05,28.000000,8.000000,5.750000,2.750000,34.067500,-4.000000,0.569750,0.542750,0.750000
32,2544.0,2025-01-12,18.000000,8.000000,10.000000,2.000000,34.520000,-12.000000,0.500000,0.250000,0.833000
33,2544.0,2025-01-19,23.500000,9.000000,5.500000,4.750000,34.935000,-3.750000,0.598000,0.541750,0.583250
34,2544.0,2025-01-26,22.000000,10.333333,9.666667,3.333333,33.363333,12.333333,0.458000,0.111000,0.833333
35,2544.0,2025-02-02,27.500000,10.000000,7.250000,4.500000,32.867500,7.250000,0.541500,0.250000,0.752250
36,2544.0,2025-02-09,34.000000,8.500000,12.500000,3.000000,34.515000,13.000000,0.587500,0.583500,0.763500
37,2544.0,2025-02-16,21.000000,7.500000,6.500000,5.000000,31.200000,7.000000,0.525000,0.464500,0.500000
38,2544.0,2025-02-23,32.500000,4.500000,8.500000,6.000000,34.220000,8.500000,0.581000,0.375000,0.833500
39,2544.0,2025-03-02,26.250000,5.250000,11.750000,5.500000,36.697500,0.250000,0.523750,0.349250,0.779250
40,2544.0,2025-03-09,29.000000,7.666667,11.333333,2.000000,36.993333,0.000000,0.504000,0.250000,0.625000
41,2544.0,2025-03-23,17.000000,4.000000,6.000000,5.000000,31.250000,-27.000000,0.438000,0.500000,0.400000
42,2544.0,2025-03-30,19.750000,8.500000,7.500000,2.500000,37.640000,-5.750000,0.427250,0.100000,0.776750
43,2544.0,2025-04-06,23.750000,7.000000,4.000000,2.500000,35.865000,5.500000,0.544000,0.602750,0.691000
44,2544.0,2025-04-13,23.000000,4.666667,6.000000,3.000000,31.176667,0.000000,0.505333,0.250000,0.911000
45,2544.0,2025-04-20,19.000000,3.000000,5.000000,4.000000,36.150000,-22.000000,0.444000,0.200000,1.000000
46,2544.0,2025-04-27,28.666667,6.333333,11.000000,2.000000,42.200000,-1.666667,0.532000,0.418667,0.844333
47,2544.0,2025-05-04,22.000000,6.000000,7.000000,3.000000,40.270000,-14.000000,0.429000,0.200000,0.500000
48,101108.0,2024-01-07,9.666667,4.666667,4.000000,0.666667,27.333333,-0.666667,0.590333,0.611000,0.250000
49,101108.0,2024-03-03,8.750000,6.000000,3.750000,1.250000,22.750000,-3.500000,0.385500,0.400000,0.187500

Loaded data: (62777, 18)
Weekly aggregation complete: (21411, 11)

,personid,gamedate,points,assists,reboundstotal,turnovers,numminutes,plusminuspoints,fieldgoalspercentage,threepointerspercentage,freethrowspercentage
0,2544.0,2024-01-07,23.000000,7.666667,6.333333,3.333333,38.000000,-7.666667,0.456667,0.259000,0.422333
1,2544.0,2024-01-14,16.000000,10.500000,5.000000,3.500000,29.500000,-12.500000,0.372000,0.200000,0.619000
2,2544.0,2024-01-21,25.500000,6.000000,7.750000,3.750000,33.750000,9.250000,0.508750,0.426000,0.675000
3,2544.0,2024-01-28,30.500000,12.000000,12.000000,4.000000,41.000000,4.000000,0.543000,0.625000,1.000000
4,2544.0,2024-02-04,22.333333,7.666667,6.666667,1.666667,37.000000,-2.000000,0.512667,0.377667,0.606333
5,2544.0,2024-02-11,24.000000,9.333333,5.666667,2.666667,37.000000,3.666667,0.485667,0.444333,0.847333
6,2544.0,2024-02-18,25.000000,8.000000,1.000000,4.000000,30.000000,9.000000,0.600000,0.500000,1.000000
7,2544.0,2024-02-25,29.000000,10.500000,7.000000,2.500000,35.000000,6.500000,0.611500,0.583500,0.625000
8,2544.0,2024-03-03,30.333333,8.666667,4.666667,3.333333,37.333333,1.666667,0.573000,0.461000,0.571333
9,2544.0,2024-03-10,26.333333,10.000000,8.000000,3.333333,34.333333,8.333333,0.583333,0.361000,0.859333
10,2544.0,2024-03-17,29.000000,9.000000,10.500000,4.500000,38.500000,-8.000000,0.513500,0.425000,0.771000
11,2544.0,2024-03-24,23.666667,8.666667,6.666667,4.333333,34.333333,13.000000,0.534000,0.411000,0.904667
12,2544.0,2024-03-31,19.750000,6.250000,7.750000,3.250000,35.000000,10.500000,0.459000,0.225000,0.617250
13,2544.0,2024-04-07,24.000000,10.000000,5.333333,3.333333,33.000000,10.666667,0.629667,0.400000,0.592667
14,2544.0,2024-04-14,32.666667,11.000000,9.000000,5.333333,37.333333,2.666667,0.612000,0.254000,0.842333
15,2544.0,2024-04-21,25.000000,8.500000,7.500000,4.500000,40.000000,1.000000,0.462500,0.400000,0.900000
16,2544.0,2024-04-28,27.333333,8.333333,6.333333,3.666667,39.333333,-1.666667,0.561000,0.222333,0.738000
17,2544.0,2024-05-05,30.000000,11.000000,9.000000,1.000000,44.000000,3.000000,0.524000,0.429000,0.714000
18,2544.0,2024-10-06,9.500000,2.000000,2.500000,2.000000,16.200000,4.500000,0.333500,0.333500,0.500000
19,2544.0,2024-10-13,11.000000,3.000000,6.000000,2.000000,15.490000,4.000000,0.364000,0.500000,0.500000
20,2544.0,2024-10-20,2.000000,1.333333,0.666667,1.000000,23.260000,-4.333333,0.111000,0.000000,0.000000
21,2544.0,2024-10-27,23.000000,7.333333,7.666667,3.000000,34.090000,7.000000,0.507000,0.364667,0.875000
22,2544.0,2024-11-03,21.333333,7.000000,5.666667,2.666667,33.403333,-7.666667,0.478333,0.452667,0.722333
23,2544.0,2024-11-10,24.750000,11.500000,9.250000,2.750000,35.800000,-3.000000,0.533750,0.386250,0.937500
24,2544.0,2024-11-17,23.666667,10.333333,11.666667,6.333333,37.023333,2.333333,0.504000,0.369000,0.575000
25,2544.0,2024-11-24,25.000000,8.666667,6.000000,4.666667,34.990000,-12.666667,0.495333,0.335333,0.712000
26,2544.0,2024-12-01,18.250000,10.250000,7.750000,4.500000,34.210000,-9.500000,0.424000,0.071500,0.750000
27,2544.0,2024-12-08,26.000000,7.666667,7.666667,5.000000,34.230000,-15.333333,0.492333,0.265000,0.777667
28,2544.0,2024-12-15,18.000000,8.000000,8.000000,5.000000,34.000000,0.000000,0.412000,0.500000,0.250000
29,2544.0,2024-12-22,25.500000,6.500000,6.500000,3.000000,34.150000,11.500000,0.461500,0.187500,0.916500
30,2544.0,2024-12-29,29.500000,10.500000,7.500000,1.500000,35.925000,1.500000,0.585000,0.500000,0.928500
31,2544.0,2025-01-05,28.000000,8.000000,5.750000,2.750000,34.067500,-4.000000,0.569750,0.542750,0.750000
32,2544.0,2025-01-12,18.000000,8.000000,10.000000,2.000000,34.520000,-12.000000,0.500000,0.250000,0.833000
33,2544.0,2025-01-19,23.500000,9.000000,5.500000,4.750000,34.935000,-3.750000,0.598000,0.541750,0.583250
34,2544.0,2025-01-26,22.000000,10.333333,9.666667,3.333333,33.363333,12.333333,0.458000,0.111000,0.833333
35,2544.0,2025-02-02,27.500000,10.000000,7.250000,4.500000,32.867500,7.250000,0.541500,0.250000,0.752250
36,2544.0,2025-02-09,34.000000,8.500000,12.500000,3.000000,34.515000,13.000000,0.587500,0.583500,0.763500
37,2544.0,2025-02-16,21.000000,7.500000,6.500000,5.000000,31.200000,7.000000,0.525000,0.464500,0.500000
38,2544.0,2025-02-23,32.500000,4.500000,8.500000,6.000000,34.220000,8.500000,0.581000,0.375000,0.833500
39,2544.0,2025-03-02,26.250000,5.250000,11.750000,5.500000,36.697500,0.250000,0.523750,0.349250,0.779250
40,2544.0,2025-03-09,29.000000,7.666667,11.333333,2.000000,36.993333,0.000000,0.504000,0.250000,0.625000
41,2544.0,2025-03-23,17.000000,4.000000,6.000000,5.000000,31.250000,-27.000000,0.438000,0.500000,0.400000
42,2544.0,2025-03-30,19.750000,8.500000,7.500000,2.500000,37.640000,-5.750000,0.427250,0.100000,0.776750
43,2544.0,2025-04-06,23.750000,7.000000,4.000000,2.500000,35.865000,5.500000,0.544000,0.602750,0.691000
44,2544.0,2025-04-13,23.000000,4.666667,6.000000,3.000000,31.176667,0.000000,0.505333,0.250000,0.911000
45,2544.0,2025-04-20,19.000000,3.000000,5.000000,4.000000,36.150000,-22.000000,0.444000,0.200000,1.000000
46,2544.0,2025-04-27,28.666667,6.333333,11.000000,2.000000,42.200000,-1.666667,0.532000,0.418667,0.844333
47,2544.0,2025-05-04,22.000000,6.000000,7.000000,3.000000,40.270000,-14.000000,0.429000,0.200000,0.500000
48,101108.0,2024-01-07,9.666667,4.666667,4.000000,0.666667,27.333333,-0.666667,0.590333,0.611000,0.250000
49,101108.0,2024-03-03,8.750000,6.000000,3.750000,1.250000,22.750000,-3.500000,0.385500,0.400000,0.187500

In [36]:
pd.set_option('display.max_rows', 1000) 
display(weekly)

,personid,gamedate,points,assists,reboundstotal,turnovers,numminutes,plusminuspoints,fieldgoalspercentage,threepointerspercentage,freethrowspercentage
0,2544.0,2024-01-07,23.000000,7.666667,6.333333,3.333333,38.000,-7.666667,0.456667,0.259000,0.422333
1,2544.0,2024-01-14,16.000000,10.500000,5.000000,3.500000,29.500,-12.500000,0.372000,0.200000,0.619000
2,2544.0,2024-01-21,25.500000,6.000000,7.750000,3.750000,33.750,9.250000,0.508750,0.426000,0.675000
3,2544.0,2024-01-28,30.500000,12.000000,12.000000,4.000000,41.000,4.000000,0.543000,0.625000,1.000000
4,2544.0,2024-02-04,22.333333,7.666667,6.666667,1.666667,37.000,-2.000000,0.512667,0.377667,0.606333
...,...,...,...,...,...,...,...,...,...,...,...
21406,1642530.0,2025-03-16,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
21407,1642530.0,2025-03-23,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
21408,1642530.0,2025-03-30,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
21409,1642530.0,2025-04-06,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000
21410,1642530.0,2025-04-13,4.000000,1.666667,1.666667,0.333333,14.665,9.000000,0.125000,0.143000,0.333333